body{
    background-color: rgb(220, 217, 213);
}
#container {
    width: 60vw;
    height: 60vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
div .box {
    width: 20%;
    height: 20%;
    background-color: rgb(28, 27, 27);
    display:inline-block;
    margin: 2%;
}

div .lightColor{
    background-color: rgb(65, 62, 62);
}